$gray: rgb(220, 220, 220);

body{
    font-family: 'Noto Sans JP', sans-serif;
}

p, h2{
    margin: 0;
    padding: 0;
}

a{
    color: gray;
}

.dec_box{
    position: relative;
    border: 1px solid $gray;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    div:first-child{
        font-size: 12px;
        p{
            color: gray;
            a{
                position: relative;
                z-index: 100;
            }
        }
        + p{
            font-size: 15px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            margin: 5px 0;
        }
    }
    h2{
        font-size: 18px;
        font-weight: 900;
    }
    div:last-child{
        color: gray;
        font-size: 12px;
        div{
            line-height: 20px;
        }
    }
    > a{
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
    }
}
