$gray: rgb(220, 220, 220);

/* mixin */
@mixin z-index{
    position: relative;
    z-index: 100;
}

.declaration{
    position: relative;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px $gray;
    border-radius: 10px;
    &__title{
        font-size: 20px;
        font-weight: 900;
    }
    &__date{
        font-size: 15px;
        &--top{
            span:first-child{
                @include z-index();
            }
        }
    }
    &__body{
        margin: 20px 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    &__badge{
        @include z-index();
        text-decoration: none;
    }
}

.declaration:last-child{
    border: none;
}
