$gray: rgb(220, 220, 220);

/* mixin */
@mixin z-index{
    position: relative;
    z-index: 100;
}

.declaration{
    position: relative;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px $gray;
    border-radius: 10px;
    &__title{
        font-size: 20px;
        font-weight: 900;
    }
    &__date{
        &--top{
            text-align: right;
            span:first-child{
                @include z-index();
            }
        }
    }
    &__body{
        margin: 20px 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    &__badge{
        @include z-index();
        text-decoration: none;
    }
    &__share{
        position: relative;
        top: 10px;
        right: 10px;
    }
}

.declaration:last-child{
    border: none;
}

@media screen and (max-width: 767px) {
    .declaration{
        text-align: center;
        &__title{
            font-size: 15px;
        }
        &__date{
            &--top{
                text-align: center !important;
                font-size: 12px;
                margin-top: 10px;
            }
            &--bottom{
                text-align: center !important;
                font-size: 12px;
            }
        }
        &__like{
            font-size: 12px;
            margin: 10px 0;
        }
        &__body{
            font-size: 13px;
            margin-top: 0;
        }

    }
    #dropdownMenuLink{
        position: relative;
        bottom: 55px;
    }
}
