$gray: rgb(220, 220, 220);

body{
    font-family: 'Noto Sans JP', sans-serif;
}

p, h2{
    margin: 0;
    padding: 0;
}

a{
    color: gray;
}

.card{
    margin-bottom: 30px;
}

.dec_box{
    position: relative;
    border-bottom: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    div:first-child{
        font-size: 12px;
        div:nth-child(2){
            color: gray;
            padding-top: 10px;
            a{
                position: relative;
                z-index: 100;
            }
        }
        + p{
            font-size: 15px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            margin: 0 10px 10px 10px;
        }
    }
    h2{
        font-size: 18px;
        font-weight: 900;
        padding-top: 10px;
    }
    div:nth-child(2){
        color: gray;
        font-size: 12px;
        div{
            line-height: 20px;
        }
    }
    > a{
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
        z-index: 0;
    }
}

.dec_box:last-child{
    border: none;
}
